* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
}
.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  margin: 40px 0;
}
.contact-container .contact-dexcription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
  margin-right: 20px;
}
.contact-container .contact-dexcription h2 {
  margin-bottom: 10px;
}
.contact-container .contact-dexcription h3 {
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}
.inputs-box {
  display: flex;
  gap: 10px;
}
.inputs-box input {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 1250px) {
  .contact-container {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .contact-container {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .contact-container {
    width: 100%;
    margin: 20px 10px;
    flex-direction: column;
  }
  .form {
    padding: 20px;
  }
}
