* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
}
.qta-image {
  width: 300px;
  height: 350px;
}
