* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.footer-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}
.footer-img img {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid red;
  margin-bottom: 10px;
}
.img-desc {
  text-align: center;
}

.img-desc span {
  font-weight: bold;
}

.img-desc p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

.footer-contact {
  display: flex;
  flex-direction: column; /* Stack contact items vertically */
  gap: 10px; /* Space between contact items */
}

.footer-contact h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.footer-contact span {
  font-size: 14px;
  color: #666;
}

.footer-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text and button to start */
}

.footer-p h3 {
  margin: 0 0 10px; /* Margin below the title */
  font-size: 24px;
  color: #333;
}

.footer-p span {
  margin-bottom: 10px; /* Space between span and button */
  font-size: 14px;
  color: #666;
}

.footer-button {
  padding: 10px 20px;
  background-color: red; /* Example button color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.footer-button:hover {
  color: white;
  background-color: orangered; /* Darker shade on hover */
}

.footer-box {
  width: 290px;
  margin: 20px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0;
}
.footer-links .copyright {
  margin-left: auto;
}
.footer-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.footer-links ul li:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}
.footer-links .pages {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
@media screen and (max-width: 1250px) {
  .footer-box {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .footer-box {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .footer-box {
    width: 100%;
    margin: 20px 10px;
  }
  .footer {
    padding: 20px;
  }
  .footer-links {
    flex-direction: column;
    width: 100%;
    margin: 20px 10px;
  }
}
