body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
}
.uniform-font-size {
  font-size: 24px;
}

.profile-image {
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.quote {
  font-size: 40px;
  margin-right: 10px;
  color: grey;
}
.paragraph {
  font-size: 14px;
  margin: 10px 0 15px;
  line-height: 1.5;
}
.ratings {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rate {
  font-size: 17px;
  cursor: pointer;
}
.profile-text {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.img {
  object-fit: cover;
  border-radius: 50%;
}
.desc {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.desc span:nth-child(1) {
  color: white;
  font-size: 15px;
}
.desc span:nth-child(2) {
  color: white;
  font-size: 10px;
}
.circle {
  font-size: 24px;
  color: red;
}
.box {
  box-shadow: 0 0 10px 10px;
  color: red;
  border-radius: 50%;
}
.about-image {
  width: 300px;
  height: 350px;
}
